:root {
    --neutral: #f7e7ce;
    --primary: #3A2618;
    --secondary: #002414;
    --accent: #754043;
    --font-body: "Roboto", "Courier Prime";
}

*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

#main-header {
    display: grid;
    grid-template-columns: 24px 1fr 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #3A2618;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: #3A2618;
}

.hamburguer {
    background: none;
    border: none;
    color: #3A2618;
    cursor: pointer
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7"
}

.navigation {
    display:none;
    background-color: #FFF8EC;
    grid-column: 1 / -1;
}

.navigation.show {
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3A2618;
    text-align: center;
    padding: 1rem;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #3a26182c;
}

a:hover {
    text-decoration: overline;
}

.active {
    color: #6A2B3F;
}

/*FOOTER*/

footer {
    background-color: #FFF8EC;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #63728e54 solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #FFF8EC;
}

/*HOME PAGE*/

body{
    background-color: #FFF8EC;
}

h1 {
    color: #002414;
    font-size: 2rem;
    font-family: 'Courier Prime', monospace;
    padding: 20px 0px 40px 0px;
    text-align: center;
}


h2{
    font-family: 'Courier Prime', monospace;
    color: #002414;
    padding: 30px 0px 0px 30px;
}

.hero{
    position:relative;
    display:block;
    margin: 0 auto;
    padding: 0rem;
    max-width: 800px;
}

#hero-image {
    width: 100%;
    height: auto;
    display:block;
}

#my-club, #choose{
    position:absolute;
    padding:1rem;
    z-index: 10;
    background-color: #3A2618;
    border:1px solid #FFF8EC;
    color:#FFF8EC;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#my-club{
    bottom:20px;
    left:20px; 
}
#choose{
    bottom:20px;
    left:130px;
}

#my-club:hover, #choose:hover{
    background-color: #002414;
    color:#FFF8EC;
    border:2px solid #FFF8EC;
}

.recommendations{
    padding: 0rem 1.5rem;
}

.recommendations img{
    width: 20%;
    height: auto;
    display:block;
}

#recommendation1, #recommendation2, #recommendation3, #recommendation4{
    border:solid 1px #3A2618;
    border-radius: 5px;
    margin:7px 5px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    background-color: white;
}

/*FORMS*/

form{
    padding: 2rem;
}

fieldset{
    border: 1px solid #3a261875;
    padding: 1rem;
    margin-bottom: 1rem;
}

form button{
    padding: .5rem 1rem;
    margin-top: 1rem;
    background-color: #FFF8EC;
    color:#3A2618;
    border: 1px solid #3A2618;
    font-weight: bold;
    font-family: 'Courier Prime', monospace;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

form button:hover{
    background-color: #002414;
    color:#FFF8EC;
}

legend{
    font-family: 'Courier Prime', monospace;
    color: #002414;
    font-size: 1rem;
    padding-bottom: .5rem;
}

#about{
    padding:1rem;
}

/*SUCCESS*/

.divider{
    padding: 3rem;
    border: 1px solid #754043;
    margin: 3rem;
    text-align: center;
}
