<footer>
        <div class="social">
            <a href="https://github.com/karenmahr" target="_blank"><img src="/images/github.svg" 
                alt="Github" width="512" height="512"></a>
            <a href="https://www.linkedin.com/in/karen-mahr/" target="_blank"><img src="/images/linkedin.svg"
                    alt="Linkedin" width="512" height="512"></a>
        </div>
        <p>© <span id="currentyear"></span> Karen Mahr Argentina</p>
        <p><span id="lastModified"></span></p>
</footer>